.titleContainer {
    background-image: url('../../public/images/earth.jpg');
    background-size: cover;
    background-position: right;
    background-attachment: scroll;
    height: 80vh;
    display: flex;
    align-items: center;

    .title { 
        width: 80vh;
        margin-left: 50px;
        text-align: center; 
        h1 { font: { weight: 800; size: 4rem; } }
        p  { font: { weight: 800; size: 1.2rem; } }
        h1, p { color: white; }
        h1 span { color: var(--main-color); }
    }
}

.dashboardTitle {
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;

    h1 {
        text-align: center;
        font-size: 2.2rem;
    
        span { color: #3178C6; }
    }
}

.dashboardContentInherit { 
    margin: 10px 0 20px 0; 

    .dashboardContent {
        width: 80vh;
        margin: 0 10vh;
    }
}

