.topBar {
    background-color: white;
    display: flex;
    height: 45px;
    margin: 10px 0;
    justify-content: space-between;
    align-items: center;
    // border-bottom: 2px solid black;

    h1 {
        color: black;
        margin: 15px;
        font-size: 25px;
    }
    h1 + h1 {
        cursor: pointer;
        background-color: var(--main-color);
        border-radius: 2px;
        padding: 5px 15px;
        color: white; 
        margin: 15px;
        font-size: 25px;
    }

    h1:hover {
        border-radius: 15px;
    }
}